	<div class="row">
		<div class="columns medium-8">
			<h3>Contact Information Received!</h3>
			<p>Thanks <b>{{lead.name}}</b>, your information was submitted. I will be in touch with you soon.</p>
			
		</div>
	</div>