	<div class="row">
		<div class="columns medium-8 medium-offset-2">
			<h2>About Me</h2>
			
			<p><i>
				*<a href="#philosophy">Learn about my approach to software development</a>.
			</i></p>

			{{{ content }}}


		</div> 
	</div>

	<section class="callout">

			<p class="text-center">Interested in hiring me? Use the <a href="/contact">
			Contact page</a> to get in touch!</p>
			<p class="text-center">To view my software development portfolio, visit the 
			<a href="/portfolio">Portfolio page</a>.</p>
	</section>  	
	<div class="row">
		<div class="columns medium-8 medium-offset-2 icon-list">

			<h3 id="philosophy">Software Engineering: My Philosophy</h3>

			<ul class="icon-list">

			<li class="row icon-list">
				<div class="column medium-1 text-center">
					<p class="icon-bullet"><i class="step fi-key size-12"></i></p>
				</div>
				<div class="column medium-11">
					<h4>Stay Agile</h4>
					<p>
						For me, agile is more than a buzzword, and it can't be boiled down
						to any individual technique or process such as Scrum, Kanban, Continuous Integration, or TDD. At its core, <b>agile is about building software that can as business needs change</b>, which they inevitably do. Specific agile processes are all just different methods to achieve this goal. Thus, I try to follow best practices in agile software development, but I also believe it's crucial to continuously reflect on our processes and ensure that our specific tactics align with the overall strategy of developing and delivering software in an agile manner.
					</p>

				</div>
				<hr class="show-for-small-only">
			</li>

			<li class="row">
				<div class="column medium-1 text-center">
					<p class="icon-bullet"><i class="step fi-clipboard-pencil size-12"></i></p>
				</div>
				<div class="column medium-11">
					<h3>Test First</h3>
					<p>
						Robust, quality code is testable, and is continuously tested. Bad code 
					 cannot be tested easily. Tests not only ensure that code works, 
					 but greatly increase the robustness and quality of the codebase, 
					 allow projects to be refactored in an agile manner, and decreases
					 overall development time.
					</p>
				</div>
				<hr class="show-for-small-only">
			</li>
			<li class="row icon-list">
				<div class="column medium-1 text-center">
					<p class="icon-bullet"><i class="step fi-wrench size-12"></i></p>
				</div>
				<div class="column medium-11">
					<h3>Refactor Courageously</h3>
					<p>
						Writing great code is an iterative process. 
						Early versions of any program always have room for improvement.
						Developers need to stay humble and not get too attached to the 
						code they write. Great developers know there is always more to 
						learn; they love to tinker, hack, experiment, and play.
					</p>

				</div>
				<hr class="show-for-small-only">
			</li>



			<li class="row icon-list">
				<div class="column medium-1 text-center">
					<p class="icon-bullet"><i class="step fi-x-circle size-12"></i></p>
				</div>
				<div class="column medium-11">
					<h3>No Silver Bullets.</h3>
					<p>
						No framework, tool, or technology is perfect. Every decision in 
						software development involves trade-offs and potential risks. 
						Beware of developers who have only a single tool in their toolbox;
						bRather than searching for optimum solutions, they tend to
						dogmatically use their preferred tool or framework, even when it is
						wildly inappropriate.
					</p>
				</div>
				<hr class="show-for-small-only">
			</li>

			
			<li class="row icon-list">
				<div class="column medium-1 text-center">
					<p class="icon-bullet"><i class="step fi-torsos size-12"></i></p>
				</div>
				<div class="column medium-11">
					<h3>Software Is Social.</h3>
					<p>Despite the reputation of developers as antisocial, any successful
					software project is a group effort. We as developers need empathy for 
					other developers, for project stakeholders, and for the users who must
					interact with the tools we create. Ultimately, we don't write code for 
					machines, we write code for human beings. This should impact 
					the way we approach our craft.</p>
					
				</div>
				<hr class="show-for-small-only">
			</li>

			<li class="row icon-list">
				<div class="column medium-1 text-center">
					<p class="icon-bullet"><i class="step fi-mountains size-12"></i></p>
				</div>
				<div class="column medium-11">
					<h3>Design For Sustainability</h3>
					<p>
						I am interested in creating sustainable, resilient communities
						while restoring the health of local ecosystems.
					</p>
					
				</div>
				<hr class="show-for-small-only">
			</li>





		

		
		</ul>		
		
		
	

		</div> 
	</div>
	