<div class="row">

	<div class="small-12 medium-8 medium-offset-2 columns ">
		<h2 id="clients">Clients</h2>
			<div class="row">
				<div class="small-12 medium-4 columns ">
					<ul class="small-list">
						<li>Antietam</li>
						<li>Blue Cross Blue Shield Assoc.</li>
						<li>CPURX</li>
						<li>Digital Bootcamp</li>
						<li>Effen Vodka</li>
					</ul>
				</div>
				<div class="small-12 medium-4 columns ">
					<ul class="small-list">
						<li>First Nonprofit Insurance</li>
						<li>Forum Coworking</li>
						<li>Imagine Detroit</li>
						<li>Jim Beam Global</li>
						<li>Liquid Thread</li>
					</ul>
				</div>
				<div class="small-12 medium-4 columns ">
					<ul class="small-list">
						<li>Oi Furniture</li>
						<li>PushMonetization.com</li>
						<li>Sauza</li>
						<li>Skinnygirl</li>
						<li>Star Wars / Lego</li>
					</ul>
				</div>
			</div>
			
			<p><i>*Note: Client list includes both direct 
			clients and agency work<i></p>

	</div>
</div>






<section class="callout">

	<p class="text-center">Interested in hiring me? Use the <a href="/contact">
	Contact page</a> to get in touch!</p>
</section>  	

<div class="row">

	<div class="medium-8 medium-offset-2 columns ">
		<h2>Client Work</h2>

		{{{content}}}

	</div>
</div>
