	<div class="row">
		<div class="columns medium-8 medium-offset-2 end">
			<h2>David A. Powers<br>
				Full Stack Web Developer 
				<br>&amp; Software Engineer</h2>
		</div> 
	</div>


	<div class="row">
		<div class="columns medium-4 medium-offset-2">
			<h3 id="tools">Skills</h3>
			<ul class="small-list">
				<li>JS: Node/Express, React, Redux, Vue</li>
				<li>Ruby: Rails, Sinatra</li>
				<li>PHP: Laravel / Lumen</li>
				<li>DB / Sql / NoSql</li>
				<li>AWS / Microservices / <br>Distributed Cloud Architecture</li>
			</ul>
			<p><a href="/skills" title="Learn more...">Learn more...</a></p>
		</div> 

		<div class="columns medium-4 end">

			<h3 id="philosophy">Philosophy</h3>
			<ul class="small-list">
				<li>Stay agile</li>
				<li>Test first</li>
				<li>Refactor courageously</li>
				<li>Software is social</li>
				<li>No silver bullets</li>
				<li>Design for sustainability</li>
			</ul>
			<p><a href="/about#philosophy" title="Learn more...">Learn more...</a></p>
		</div> 
	</div>

	</div>
	<section class="callout">
		<p class="text-center">Interested in hiring me? Use the <a href="/contact">
		Contact page</a> to get in touch!</p>
		<p class="text-center">To view my software development portfolio, visit the 
		<a href="/clients">Clients</a>, <a href="/projects">Projects</a>,
		and <a href="/playground">Playground</a> pages.</p> 
	</section>  	 
	<div class="row">
		<div class="columns medium-8 medium-offset-2">
			
			{{{ content }}}

		</div> 
	</div>
 	
	
