	<div class="row">
		<ul class="columns medium-8 medium-offset-2 icon-list">

			<li class="row icon-list">
				<div class="column medium-1 text-center">
					<p class="icon-bullet"><i class="step fi-laptop size-12"></i></p>
				</div>
				<div class="column medium-11">
					<h3>Full Stack Developer</h3>

					<ul>
					<li>* Ruby on Rails</li>
					<li>* PHP / Laravel</li>
					<li>* JavaScript </li>
					<li>* Golang</li>
					<li>* Amazon AWS / Lambda / Redshift</li>
					<li>* Scalable Application Architecture</li>
					<li>* API Integrations</li>
					<li>* Test-Driven Development / BDD</li>
					<li>* SQL / NoSQL</li>
					</ul>
					<br>
					<p>I have over 15 years experience ​​developing custom applications, websites, and 
					databases as a front-end and back-end developer.</p>
			
					<div class="learn-more"><a class="button" href="/contact">Contact Me</a></p></div>
					
				</div>
				<hr class="show-for-small-only">
			</li>


			<li class="row icon-list">
				<div class="column medium-1 text-center">
					<p class="icon-bullet"><i class="step fi-map size-12"></i></p>
				</div>
				<div class="column medium-11">
					<h3>Consulting for Startups</h3>
					<p>
						Technology choices can make the difference between 
						business success or failure.
						Whether you are building a complex web platform,
						creating the next big phone app, or optimizing 
						your website to bring in more leads,
						I can provide the guidance your startup needs to
						ensure you use technology effectively.
					</p>
				</div>
				<hr class="show-for-small-only">
			</li>

			<li class="row">
				<div class="column medium-1 text-center">
					<p class="icon-bullet"><i class="step fi-web size-12"></i></p>
				</div>
				<div class="column medium-11">
					<h3>Custom Content Management Systems</h3>
					<p>
						I have built and worked on custom content management platforms for use 
						by clients such as Beam Suntory, Shure, and am currently building
						my own CMS platform. In addition, I have created custom solutions 
						for existing platforms such as Drupal, Concret5, and WordPress.
					</p>
				</div>
				<hr class="show-for-small-only">
			</li>

		</div>
	</div>

	<section class="callout">
		<p class="text-center">Interested in hiring me? Use the <a href="/contact">
		Contact page</a> to get in touch!</p>
		<p class="text-center">To view my software development portfolio, visit the 
		<a href="/portfolio">Portfolio page</a>.</p>
	</section>  	  	
	
  <div class="row">
		<ul class="columns medium-8 medium-offset-2 icon-list">
			<li class="row icon-list">
				<div class="column medium-1 text-center">
					<p class="icon-bullet"><i class="step fi-shopping-cart size-12"></i></p>
				</div>
				<div class="column medium-11">
					<h3>E-Commerce Solutions</h3>
					<p>Experience building custom e-commerce platforms, and creating  
					custom solutions for Shopify, Magento, and WP sites.</p>
				</div>
				<hr class="show-for-small-only">
			</li>

			<li class="row icon-list">
				<div class="column medium-1 text-center">
					<p class="icon-bullet"><i class="step fi-die-six size-12"></i></p>
				</div>
				<div class="column medium-11">
					<h3>Games &amp; Gamification</h3>
					<p>Extensive experience in game design, game development, and gamification. 
					Commercial projects include rapid prototyping of a HUD for a major auto
					maker, and creation of a multimedia game engine for Blue Cross Blue 
					Shield Association.</p>
				</div>
				<hr class="show-for-small-only">
			</li>

			<li class="row icon-list">
				<div class="column medium-1 text-center">
					<p class="icon-bullet"><i class="step fi-graph-trend size-12"></i></p>
				</div>
				<div class="column medium-11">
					<h3>Digital Marketing</h3>
					<p>My technology experience is complimented by extensive experience
					in digital marketing and writing, in both creative and commercial settings. 
					Whether you need a digital content strategy, copy writing and editing,  
					blog and newsletter content, or help with search engine 
					optimization (SEO) and marketing, I've got you covered.
					</p>
				</div>
			</li>
		</ul>
	</div>
