<div class="row">

	<div class="medium-8 medium-offset-2 columns ">
		<h2>Playground</h2>

		{{{content}}}

	</div>
</div>

<section class="callout">

	<p class="text-center">Interested in hiring me? Use the <a href="/contact">
	Contact page</a> to get in touch!</p>
</section>  	
	
